body{position:relative;padding:15px;margin-bottom:20px;text-align:left;}
.mpg_wrap{width:100%;}
.m_title{padding:10px 0;font-weight:600;color:#666;}
.wallet_wrap{width:100%;}
.wallet_wrap .item{position:relative;float:left;width:100%;margin:5px 0;padding:18px;border-top:10px solid #4fb1eb;border-radius:5px;background-color:#fff;color:#333;}
.num_box{margin-top:10px;color:#333;}
.num{font-size:26px;font-weight:600;}
.wallet_wrap .item .ico{width:15px;position:absolute;right:18px;bottom:20px;}
@media(min-width:380px){
    .wallet_wrap .item{width:49%;margin-right:1%;}
}
@media(min-width:700px){
    .wallet_wrap .item{width:32%;}
}
@media(min-width:1024px){
    .wallet_wrap .item{width:24%;}
}
.mdl{width:100%;margin:15px auto;padding:0 15px;border-radius:5px;background-color:#fff;}
.mdl .ico{margin-left:25px;}
.tb_info{margin:15px auto;}
.tb_info td{width:50%;text-align:center;}
.tb_info td:nth-child(even){color:#4fb1eb;}
@media(min-width:780px){
    .mdl.chart{width:49%;float:left;height:350px;}
    .mdl.chart:nth-child(odd){margin-right:2%;}
}
.news_area{width:100%;padding-bottom:30px;list-style-position: inside;list-style-type:decimal; }
/*.news_area li:not(:last-child){border-bottom:1px dashed #232229;}*/
.news_area li{position:relative;z-index:2;width:100%;padding:3px 0;border-bottom:1px solid #eee;}
.news_area .ntxt{width:100%;}
.news_area .time{display:block;font-size:12px;color:#4fb1eb;}
@media(min-width:800px){
    .news_area .time{float:right;}
}
.total{font-size:18px;font-weight:600;color:#333;}